<h2 *ngIf="!patients" class="text-center">No {{status | titlecase}} Registrations</h2>
<div *ngIf="patients">
  <h2 class="text-center">{{status | titlecase}} Registrations</h2>
  <div class="table-responsive">
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Past Illness</th>
      <th *ngIf="inProgress" scope="col">Approve</th>
      <th *ngIf="inProgress" scope="col">Cancel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients; let i=index;">
      <td>{{i + 1}}</td>
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.dob}}</td>
      <td>{{patient.pastIllness}}</td>
      <td *ngIf="inProgress">
        <button (click)="approve(patient.id)" class="btn btn-success">Approve</button>
      </td>
      <td *ngIf="inProgress">
        <button (click)="cancel(patient.id)" class="btn btn-danger">Cancel</button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

